@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open Sans');
body{
  font-family: 'Roboto';
}
.top{
  height: 500px;
}
.navbar{
  /* width: 100%; */
  height: 72px;
  background-color: #FEDEAB ;
  display: flex;
  /* justify-content: center; */
  gap: 445px;
  position: relative;
  bottom: 7px;
  /* align-items: left; */
}
.college{
  margin-top: 10px;
  /* width: 95px;
  height: 16px; */
  font-size: 14px;
  font-weight: 500;
  /* line-height: 260%; */
  letter-spacing: 0.5px;
}
.don_portal{
  /* width:292px; */
  /* height: 28px; */
  font-weight: 600;
  font-size: 28px;
  margin-top: 4px;
  /* line-height: 210%; */
  color: #362543;
}
.intro{
  margin-left: 8.8em;
}
.links{
  align-items: center;
  display: flex;
  gap: 30px;
}
.links a{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #2C1A39;
}
.links .login{
  background-color: #6D4E84;
  border-radius: 11px;
  padding: 8px 13px;
  color: white;
}
.left{
  margin-left: 120px;
  margin-top: 70px;
  width: 440px;
}
.heading{
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 36px; 
  text-align:left;
  color: #000000;
}
.info{
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
}
.browse{
  margin-top: 60px;
  background: #6D4E84;
border-radius: 6px;
padding-left: 10px;
padding-right: 10px;
padding-top: 8px;
padding-bottom: 8px;
color: white;
}
.right{
  position: relative;
  bottom: 440px;
  margin-left: 800px;
  width:450px;
  /* height: 500px; */
  display: grid;
  grid-template-columns: repeat(2,220px);
  grid-template-rows: repeat(3,160px);
  gap: 10px 10px;
  overflow: hidden;
}
.img{
  width: 200px;
  /* flex-shrink: 0; */
  min-width: 100%;
  min-height: 100%;
  
  /* height: 50px; */
}
.img1{
  background-image: url('../assets/Rectangle 48.png');
  background-position:-44px;
  grid-row-start: 1;
  grid-row-end: 3;
}
.img2{
  background-image: url('../assets/Rectangle 51.png');
}
.img3{
  background-image: url('../assets/Rectangle 49.png');
  background-position: -40px;
  grid-row-start: 2;
  grid-row-end: 4;
}
.img4{
  background-image: url('../assets/Rectangle 50.png');
  background-position: -20px;
}
.boxes{
  /* margin-top: 100px; */
  display: flex;
  justify-content:center;
  gap:30px;
}
.box{
  background-color: #F3E7FB;
  width:270px;
  height:154px;
  position: relative;
  top: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.num{
  font-size: 64px;
}
.projects{
  font-size: 28px;
}
.footer{
  /* width: 1200px; */
  height: 120px;
  background-color: #FCFCEC;
}
.main-projects{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.each-project{
  width: 376px;
  height: 407px;
  background-color: #B9B9B4B4;
}
.small-box{
  margin-top: 20px;
  width: 292px;
  height: 69px;
  background-color: #B09B9B;
  margin-left: 1003px;
}
.why-donate{
  margin-left: 113px;
  margin-right: 113px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  height: 412px;
  gap:20px;
}
.text{
    width: 100%;
  /* height: 412px; */
}
.heading{
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
.para{
  margin-top: 40px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.tiny-box{
  margin-top: 43px;
  width: 292px;
  height: 69px;
  background-color: #B09B9B;
}
.space{
  width: 100%;
  background: #C9D2D2;
}
.stat{
  margin-left: 76px;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}
.report{

display: flex;
margin: 60px 60px;
justify-content:space-evenly;
gap: 20px;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #000000;
}
.rect29 { 
  width: 397px;
height: 397px;

background: #B9B4B4;
border-radius: 280px;
}
.rect30 {
width: 397px;
height: 397px;

background: #B9B4B4;;
border-radius: 280px;
}
.rect31 {
width: 397px;
height: 397px;

background: #B9B4B4;
border-radius: 280px;
}
.step{
width: 608px;
height: 49px;
margin: 90px;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
}
.steptodonate {
/* width: 482px;
height: 77px; */
display: flex;
gap: 20px;
justify-content: center;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #000000;
}
.rect34 {
width: 397px;
height: 168px;

background: #B9B4B4;
}
.rect35 {
width: 397px;
height: 168px;

background: #B9B4B4;
}
.rect36 {
width: 397px;
height: 168px;

background: #B9B4B4;
}
.text_testimona {
  margin: 90px 80px;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
}
.testimona {
width: 313px;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #000000;
}
.rect33 {
  position: relative;
width: 292px;
height: 138px;
bottom: 330px;
left: 160px;
background: #C9D2D2;
}
.rect32 {
  position: relative;
width: 730px;
height: 343px;
bottom: 672px;
left: 510px;
background: #C9D2D2;
}
.testimona_comma {
width: 177px;
margin-left: 330px;
/* height: 577px; */
font-style: normal;
font-weight: 400;
font-size: 488.96px;
line-height: 577px;
color: #000000;
}
.contact{
  position: relative;
  bottom: 490px;
width: 330px;
height: 77px;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #000000;
}
.rect39{
width: 1440px;
height: 538px;

background: #D9D9D9
}
.rect38{
width: 292px;
height: 69px;
position: relative;
bottom: 140px;
left: 90px;
background: #B09B9B;
}
.links-footer{
  margin-top: 80px;

width: 741px;
height: 77px;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #000000;
}
.rect41{
  position: relative;
  bottom: 590px;
  left: 100px;
width: 392px;
height: 493px;
background: #D9D9D9;
}
.rect42{
  position: relative;
  bottom: 1083px;
  left: 510px;
width: 401px;
height: 493px;

background: #D9D9D9;
}
.rect43{
  position: relative;
  bottom: 1576px;
  left: 940px;
width: 397px;
height: 81px;

background: #D9D9D9;
}
.rect44{
  position: relative;
  bottom: 1546px;
  left: 940px;
width: 397px;
height: 81px;

background: #D9D9D9;
}
.rect45{
  position: relative;
  bottom: 1516px;
  left: 940px;
width: 397px;
height: 81px;

background: #D9D9D9;
}
.rect46{
  position: relative;
  bottom: 1486px;
  left: 940px;
width: 397px;
height: 81px;

background: #D9D9D9;
}
.rect47{
  position: relative;
  bottom: 1460px;
  left: 940px;
width: 397px;
height: 53px;

background: #D9D9D9;
}
.rect40{
  /* position: relative; */
width: 1440px;
height: 701px;

background: #2B2240;
opacity: 0.6;
}
.Buttonp2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  width: 98px;
  height: 40px;
  background: #164B8A;
  border-radius: 4px;
  position: relative;
  left: 243px;
  top: -44px;
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}
.Buttonp2 a{

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #F0F0F0;

}

.textp2line0
{
  width: 328px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.25px;

/* M3/sys/light/on-surface-variant */

color: #49454F;
position: relative;
left: 20px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.textp2line1
{
  width: 328px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
position: relative;
left: 20px;
top: -35px;
letter-spacing: 0.25px;

/* M3/sys/light/on-surface-variant */

color: #49454F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.headingp2
{
  width: 328px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
position: relative;
left: 20px;


/* Grey palette / Grey190 */

color: #1B212D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.heading1p2
{
  width: 276px;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
position: relative;
left: 20px;

/* Grey palette / Grey190 */

color: #1B212D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.card-contentp2
{
  width: 328px;
height: 60px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
position: relative;
left: 20px;
letter-spacing: 0.25px;

/* M3/sys/light/on-surface-variant */

color: #49454F;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.imagep2one{

width: 20px;
height: 20px;
position: relative;
bottom: -45px;
left: 10px;
}








.card-contentp2text{

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

}
.imagep2
{
  width: 360px;
height: 159px;

background: url('../assets/media.png'), #F0F0F0;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
}
   /* .imagep2one
{
  position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.67%;

background: #DADADA;
}    */

 .imagep2one{
  height: 13px;
  width: 10px;


} 





.imagetextp2one
{
  width: 134px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 2000;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
position: relative;
left: -10px;
text-align: center;
letter-spacing: 0.25px;

/* M3/sys/light/on-surface */

color: #1C1B1F;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.card-img-one .imagetextp2two a{
  /* width: 304px;
height: 20px; */

font-family: 'Open Sans';
font-style: bold;
font-weight: 800;
font-size: 16px;
/* line-height: 20px; */
/* identical to box height, or 125% */
position: relative;
left: 20px;
letter-spacing: 0.01em;

color: #1B1B1B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
/*flex-grow: 0; */
}
.range-container
{

position: relative;
left: 20px;
/* width: 190px; */

}





.cardp2
{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
height: 550px;

background: #FCFCFC;
box-shadow: 0px 4px 17px 4px rgba(0, 0, 0, 0.15);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.Navbar1{
  display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px 156px;
gap: 30px;
/* position: absolute;
width: 1440px; */
height: 72px;
left: 0px;
top: 0px;

background: #C7DDE2;
}

.links1 {

height: 40px;
display: flex;
align-items: center;
border-bottom: 1px solid #0c0c0c;


}
.links1 a{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
text-decoration: none;
color: #333333;
}
.links2{

display: flex;
align-items: center;

}
.links2 a{


font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #333333;
text-decoration: none;
}

/* .links3{
  width: 102px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

color: #333333;

flex: none;
order: 0;
flex-grow: 0;
} */

.links4{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 10px;

width: 103px;
height: 40px;

background: #027F9B;
border-radius: 4px;

flex: none;
order: 3;
flex-grow: 0;
}

.links4 .Enabled{
  /* width: 55px;
height: 20px; */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

/* display: flex; */
align-items: center;
text-align: center;
letter-spacing: 0.1px;

color: #FFFFFF;
text-decoration: none;
/* flex: none;
order: 0;
flex-grow: 0; */
}

.Navbar2{
  box-sizing: border-box;
display: flex;
flex-direction: row;
align-self: center;
align-items: center;
align-content: center;
padding: 0px;
gap: 80px;
/* position: absolute; */
width: 1128px;
height: 52px;
left: 156px;
top: 104px;

border-bottom: 1px solid #818181;
}

.Links1{
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: #000000 3px solid;
}


.Links1 a{
  width: 114px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;

letter-spacing: 0.01em;

color: #404040;
white-space: nowrap;
word-spacing: 0.1em;
text-decoration: none;
/* 
flex: none;
order: 0;
flex-grow: 0; */
}

.Links2{

display: flex;
align-items: center;

}


.Links2 a{
  /* width: 101px;
height: 20px; */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

letter-spacing: 0.01em;

color: #404040;
white-space: nowrap;
word-spacing: 0.1em;
text-decoration: none;
/* flex: none;
order: 0;
flex-grow: 0; */
}

/* .Links3{
  width: 167px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.01em;

color: #404040;

flex: none;
order: 0;
flex-grow: 0;
}

.Links4{
  width: 139px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.01em;

color: #404040;

flex: none;
order: 0;
flex-grow: 0;
}

.Links5{
  width: 90px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.01em;

color: #404040;

flex: none;
order: 0;
flex-grow: 0;
}

.Links6{
  width: 31px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.01em;

color: #404040;

flex: none;
order: 0;
flex-grow: 0;
}

.Links7{
  width: 30px;
height: 20px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

letter-spacing: 0.01em;

color: #404040;

flex: none;
order: 0;
flex-grow: 0;
} */

.Header1p2
{

  width: 221px;
  height: 36px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  /* identical to box height, or 36px */
  
  letter-spacing: 0.02em;
  
  color: #1A1A1A;
  position: relative;
  left: 180px;
  
  /* Inside auto layout */
  /* display: flex; */
 /* flex: none; */
  order: 0;
  /* flex-grow: 0; */


}
.Header2p2
{
  width: 221px;
height: 36px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 100%;
/* identical to box height, or 36px */

letter-spacing: 0.02em;

color: #1A1A1A;
position: relative;
  left: 180px;

/* Inside auto layout */

/* flex: none; */
order: 0;
flex-grow: 0;
}
.Header3p2
{
  width: 221px;
height: 36px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 100%;
/* identical to box height, or 36px */

letter-spacing: 0.02em;

color: #1A1A1A;
position: relative;
left: 180px;

/* Inside auto layout */

display: flex;
order: 0;

}
.Subtitle1p2
{
  width: 325px;
  height: 24px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  position: relative;
  
  left: 180px;
  letter-spacing: 0.02em;
  



  
  color: #1A1A1A;
  
  
  /* Inside auto layout */
  
  display: flex;
  order: 0;
  /* flex-grow: 0; */

}
.Subtitle2p2
{
  width: 325px;
  height: 24px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  
  letter-spacing: 0.02em;
  
  color: #1A1A1A;
  position: relative;
  
  left: 180px;
  
  /* Inside auto layout */
  display: flex;  
  /* flex: none; */
  order: 0;
  
}
.Subtitle3p2
{
  width: 325px;
height: 24px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */

letter-spacing: 0.02em;

color: #1A1A1A;

position: relative;
left: 180px;
/* Inside auto layout */

display: flex;
order: 0;

}
.para1p2
{
  width: 1130px;
  height: 96px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  
  letter-spacing: 0.02em;
  
  color: #4D4D4D;
  
  
  /* Inside auto layout */
  
  display: flex;
  order: 0;
  align-self: stretch;

  position: relative;
  left: 180px;



}
.para2p2
{
  width: 360px;
height: 288px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

letter-spacing: 0.02em;

color: #4D4D4D;
position: relative;
  left: 3px;

/* Inside auto layout */

display: flex;
order: 0;

}
.CC1p2
{
  display: flex;
  flex-direction: row;
  gap: 45px;
 align-self: center;
}
.CC2p2
{
  display: flex;
  flex-direction: row;
  gap: 45px;
 align-self: center;
}
.CC3p2
{
  display: flex;
  flex-direction: row;
  gap: 45px;
  position: relative;
  left: 180px;
}
/* .p2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  
  position: absolute;
  width: 1130px;
  height: 2430px;
  left: 156px;
  top: 188px;
  
} */
.p2{

display: flex;
flex-direction: column;
gap: 30px;
}
.anchor3p2
{

position: relative;
left: 180px;
display: flex;


}
.anchor1p2
{

position: relative;
left: 180px;
display: flex;


}
.anchor2p2
{

position: relative;
left: 180px;
display: flex;


}