@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.mainbody{
    display: flex;
    flex-direction: column;
    gap: 56px;
    font-family: "Open-Sans" , sans-serif;
}

.mainbody .innerpage{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 148px;
    padding-right: 148px;
}

.innerpage .projectsmenu{
    background-color: #f6f2f2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 6px;
}

.clubprojects{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clubprojects .header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.projectlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
}

@media only screen and (max-width: 1436px) {
  .projectlist{
    gap: 20px;
  }
}

@media only screen and (max-width:1128px){
  .projectlist{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }    
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: fit-content;
  }
  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #027F9B;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #1403599c;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }