.card{

  width: 396.33px;

  height: 550px;

  background-color: #F9FAFA;

  border-radius: 4px;

  border: 1px solid #C0C0C0;

  box-shadow: 0px 4px 16px 4px rgba(13, 7, 46, 0.102);




}

.proj-name{

  height: 72px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 90%;

  margin: 0px auto;

}

.club-logo{

  width: 40px;

  height: 40px;

  border-radius: 50%;

  background-color: #F0EFFC;

  display: flex;

  justify-content: center;

  align-items: center;

}

.club-logo img{

  width: 20px;

  height: 26px;

}

.club-info{

  display: flex;

  align-items: center;

  gap: 20px;

}

.club-desc{

  display: flex;

  flex-direction: column;

  justify-content: center;

  gap: 3px;

}

.club-name{

  font-weight: 700;

  font-size: 16px;

  letter-spacing: 1%;

  color: #1B1B1B;

}

.proj-desc{

  font-weight: 400;

  font-size: 14px;

  letter-spacing: 0.25px;

  color: #1C1B1F;

}

.card-desc{

  width: 90%;

  font-weight: 400;

  font-size: 14px;

  letter-spacing: 0.25px;

  margin: 0 auto;

  color: #49454F;

  margin-top: 3%;

}

.goal{

  width: 90%;

  font-size: 16px;

  font-weight: 600;

  line-height: 16px;

  letter-spacing: 0px;

  color: #1B212D;

  margin: 0 auto;

  margin-top: 6%;

}

.card-btns{

  display: flex;

  width: 90%;

  justify-content: space-between;

  margin: 0px auto;

}

.card-icons{

  display: flex;

  gap: 16px;

  align-items: center;

}

.card-donate{

  width: 98px;

  height: 40px;

  border-radius: 4px;

  background-color: #027F9B;

  color: #FFFFFF;

  font-size: 14px;

  font-weight: 600;

  /* line-height: 20px; */

  letter-spacing: 0.1px;

  /* text-align: center; */

  display: flex;

  justify-content: center;

  align-items: center;

}

.card-donate:hover{

  background-color: #025466;

  transition: .2s ease-out;

}

.slider-cont{

  width: 90%;

  margin: 0px auto;

  display: flex;

  align-items: center;

  justify-content: space-between;

  margin-top: 3%;

  margin-bottom: 6%;

}

label{

  color: #1B212D;

}

.slider {

  -webkit-appearance: none;

  width: 80%;

  height: 4px;

  border-radius: 2px;  

  background: #BBBCC0;

  outline: none;

  opacity: 0.7;

  -webkit-transition: .2s;

  transition: opacity .2s;

  cursor: pointer;

}

.slider:hover{

  opacity: 1;

}




.slider::-webkit-slider-thumb {

  -webkit-appearance: none;

  appearance: none;

  width: 16px;

  height: 16px;

  border-radius: 50%; 

  background: #FFFFFF;

  border: 2px #8D9096 solid;

  cursor: pointer;

}




.slider::-moz-range-thumb {

  width: 25px;

  height: 25px;

  border-radius: 50%;

  background: #04AA6D;

  cursor: pointer;

}

/* input[type=range]::-webkit-slider-runnable-track  {

  -webkit-appearance: none;

  box-shadow: none;

  border: none;

  background: #8D9096;

} */

.arrow, .card-icons img, .card-donate{

  cursor: pointer;

}