.loginnavbar {
    display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
width: 100%;
height: 8vh;
gap:25px;
background: #D9ECF0;
  }
  
  .loginlink {
  
height: 20px;  
  
  }
  
  .loginlink a {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: #333333;
  }
.lognav{
    padding-left: 20px;
    padding-right: 200px;
}
  .loginnavbutton{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 10px;
align-self: center;
height: 40px;
background: #F3B257;
box-shadow: inset 1px 1px 2px rgba(255, 218, 188, 0.24), inset -1px -1px 2px rgba(241, 127, 33, 0.24);
border-radius: 4px;

  }
  .links4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
  
    width: 103px;
    height: 40px;
  
    background: #027F9B;
    border-radius: 4px;
  
    flex: none;
    order: 3;
    flex-grow: 0;
  }
  
  .links4 .Enabled {
    /* width: 55px;
  height: 20px; */
  
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
  
    color: #FFFFFF;
    text-decoration: none;
    /* flex: none;
  order: 0;
  flex-grow: 0; */
  }
  