.home-navbar {
    /* width: 100%; */
    height: 88px;
    background-color:#E9EAEB;
    ;
    display: flex;
    justify-content: center;
    gap: 365px;
    /* position: relative; */
    /* bottom: 7px; */
    /* align-items: left; */
  }
  
  
  
  .home-don_portal {
    /* width:292px; */
    /* height: 100%; */
    /* font-weight: 600; */
    /* font-size: 28px; */
    /* margin-top: 4px; */
    line-height: 28px;
    display: flex;
    align-items: center;
    /* line-height: 210%; */
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 22px;
    color: #333333;
  }
  
  .home-intro {
    /* margin-left: 8.8em; */
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .home-links {
    align-items: center;
    display: flex;
    gap: 50px;
  }
  
  .home-links a {
    font-family: 'open sans';
    text-decoration: none;
    /* font-style: normal; */
    /* font-weight: 500; */
    /* font-size: 16px; */
    letter-spacing: 1%;
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .home-links a:hover{
    text-decoration: underline;
    text-underline-offset: 12px;
    color: #233A3F;
    /* font-weight: 700; */
    transition: .2s ease-out;
  }


  .home-links a:nth-child(1){
    color: #233A3F;
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    text-underline-offset: 12px;
    /* text-underline-position: below; */
  }
  
  .home-links a.login {
    background-color: #027F9B;
    border-radius: 4px;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
  }
  .home-links a.login:hover{
    text-decoration: none;
    background-color: #025466;
  }