

.home-missing{
    width: 90%;
    margin: 11% auto;
    font-family: 'open sans';

}
.home-title{
    font-weight: 700;
    font-size: 32px;
    color: #333333;
}
.home-para{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
    width: 1024px;
    margin-top: 1%;
    color: #333333;
}
.home-card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
}
.home-project-btn{
    display: flex;
    justify-content: flex-end;
}
.home-btn{
    background-color: #027F9B;
    padding: 16px 24px;
    border-radius: 4px;
    letter-spacing: 1%;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    width: 244px;
    text-align: center;
    cursor: pointer;
}
.home-btn:hover{
    background-color: #025466;
    transition: .2s ease-out;
}
