@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.nn_main-cont
{
    margin-top: 30px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    text-decoration: none;
    
}

.nn_cont
{
    display: flex;
    flex-direction: row;
}
.nn_small
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-weight: 550;
}
.nn_btn-small
{
    width: 98px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #100000;
}
.nn_side-cont
{
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    align-items: center;
    margin-left: 1049px;
    gap: 48px;
    padding-bottom: 25px;
    margin-top: -30px;

}
.nn_link
{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #333333;
}
.nn_navbar
{
    width: 100%;
    /* width: 1920px; */
    height: 76px;
    background-color: #D9ECF0;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.nn_bell-img{
    width: 25px;
    height: 30px;
}