.nav{
    background-color: rgba(217, 236, 240, 1);
    height: 72px;
}
.button2{
    height: 40px;
    background-color: white;
    width: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 156px;
    top: 16px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.1px;

/* Text */

color: #333333;

}
.button2:hover{
    cursor: pointer;
}
.button1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.01em;
    
    /* Text */
    
    color: #333333;
    height: 40px;
    width: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 260px;
    top: 16px;
    border-bottom: 1px solid black;
}
.button1:hover{
    cursor: pointer;
}
.ring{
    position: absolute;
    right: 375px;
    top: 30px;
}
.headImage{
    height: 240px;
    width: 240px;
    border: solid black;
}
.head{
    display: flex;
    margin-left: 10.833vw;
    margin-top: 3.889vw;
    align-items: center;
    border-bottom: solid  rgba(220, 223, 224, 1);
    ;
    margin-right: 10.833vw;
    padding-bottom: 3.889vw;
}
.headname{
    margin-left: 2.153vw;
}
.headname1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
margin: 0px;
padding: 0px;
}
.headname2{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
margin-top: 0.1vw;
margin-bottom: 0.1vw;
padding: 0px;
color: rgba(86, 86, 86, 1);
}
.headname3{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #333333;

opacity: 0.7;
}
.but1{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 10px;

width: 181px;
height: 48px;

/* White */

background: #FFFFFF;
/* Text */

/* border-bottom: 1px solid #333333; */

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;

/* Text */

color: #333333;

opacity: 0.9;
}
.but2{
   

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;
padding: 0px;
margin: 0px;
color: #333333;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 158px;
height: 48px;
background: #F6F7F7;
opacity: 0.9;
}

.but2:hover{
    border-bottom: 1px solid #333333;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;

/* Text */

color: #333333;

opacity: 0.9;
}

.buttons{
    display: flex;
    margin-left: 10.833vw;
    }
.dust2{
    position: absolute;
    bottom: 35px;
    right: 35px;

}
.dust2:hover{
    cursor: pointer;
}
.buttons:hover{
    cursor: pointer;
}
.dropdown{
    
    font-size: 15px;
}
.uploaded_image{
    height: 123px;
    width: 110px;
}
.result img{
    height: 200px;
    width: 150px;
    margin: 10px;
}
.kk{
    display: flex;
    
}

.tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    text-align: center;
    margin: 4px;
    background-color: #8f8c8c;
    color: white;
    border-radius: 5px;
    padding: 5px;
    height: 10px;
}
.bt1{
    background: #027F9B;
    border: none;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 11px;
    color:  rgb(255, 255, 255);
    border-radius: 5px;
    
}
.ntag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
}
.cross{
    font-size: 13px;
}
.dec{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #027F9B;
    border: none;
    height: 25px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: 11px;
    margin-right: 20px;
    color:  rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
.slides{
    margin-left: 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #565656;
}
.sl{
    margin: 1vw;
}
.sl1{
    margin: 1vw;
}
.sl1:hover{
    cursor: pointer;
}
.emails{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    width: 60vw;
    flex-flow: row wrap;
}
