
.range-container
{
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
.css-1diafny-MuiSlider-root {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: #abb027;
    -webkit-tap-highlight-color: transparent;
    height: 4px;
    width: 239px;
    padding: 13px 0;
}
.small-heading
{
    margin-left: -13px;
}
#range
{
    width: 280px;
}
.scroll
{
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 5px;
}

.top-icon
{
    height:70px ;
    width: 70px;
}
.main-content{
      display: flex;
      flex-direction: row;
}
.arrow
{
    
    padding-top: 15px;
    height: 12px;
    width: 20px;
    margin-left: 35px;
}
.card-head
{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.book
{
    width: 18px;
    height: 19px;
}
.share
{
    width: 18px;
    height: 19px;
}
.bottom-content
{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 15px;
    padding-left: 15px;
}
.bottom-main-content
{
    display: flex;
    flex-direction: column;
   padding-left: 15px;
   padding-top: 10px;
   gap: 10px;
    
}

.btn-bottom
{
    background: #027F9B;
  border-radius: 4px;
  margin-left: 150px;
  width: 99px;
  height: 40px;
  color: #FCFCFC;
  border: none;
  position: relative;
  top: -10px;

  cursor: pointer;
}


.range-container2
{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  left: 20px;


}

.sliderletters {
  width: 60px;
height: 20px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 20px;
/* identical to box height, or 62% */


/* Grey palette / Grey190 */

color: #1B212D;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}