.SayAboutUs {
    /* padding-left: 10vw;
    width: 80vw;
    max-width: 1024px; */
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10vw;
}

.SayAboutUs_head {
    /* width: 3.472vw; */
    height: 2.22vw;

    /* Landing Subtitle */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.22vw;
    line-height: 100%;

    /* identical to box height, or 32px */
    letter-spacing: -0.015em;

    /* Text */
    margin-bottom: 1.736vw;
    color: #333333;
}

.SayAboutUs_body {
    height: 3.33vw;
    width: 71.11vw;
    /* Landing Body */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.11vw;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.0069vw;

    /* Text */
    color: #333333;


}

.SayAboutUs_SlideShow {
    width: 100vw;
    margin-top: 5.55vw;
    margin-left: -10vw;
    height: 34.72vw;
    position: relative;
    /* display: flex;
    justify-content: center; */
}

@keyframes pos1 {
    0% {
        transform: scale(1.2);
        left: calc(50vw - 500px);
        z-index: 5;
        filter: blur(0);
    }

    3% {
        transform: scale(0.8);
        filter: blur(5px);
        left: 0vw;
        z-index: 1;
        opacity: 0.5;
    }
    25%{
        transform: scale(0.8);
        filter: blur(5px);
        left: 0vw;
        opacity: 0.5;
    }
    28%{
        left: calc(50vw - 500px);
        filter: blur(5px);
        opacity: 0.5;
        transform: scale(0.6);
    }
    50%{
        left: calc(50vw - 500px);
        filter: blur(5px);
        opacity: 0.5;
        transform: scale(0.6);
    }
    53%{
        left: calc(70vw - 500px);
        opacity: 0.5;
        filter: blur(5px);
        transform: scale(0.8);
    }
    75%{
        left: calc(70vw - 500px);
        filter: blur(5px);
        opacity: 0.5;
        transform: scale(0.8);
        z-index: 1;
    }
    78%{
        transform: scale(1.2);
        filter: blur(0);
        left: calc(50vw - 500px);
        z-index: 5;
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        left: calc(50vw - 500px);
        z-index: 5;
        opacity: 1;
    }

}

.SAUposition1 {
    animation: pos1 20s linear;
    animation-iteration-count: infinite;
}

.SAUposition2 {
    animation: pos1 20s linear;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

.SAUposition3 {
    animation: pos1 20s linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

.SAUposition4 {
    animation: pos1 20s linear;
    animation-iteration-count: infinite;
    animation-delay: 15s;
}

.SayAboutUs_card {
    transform: scale(1.2);
    /* left: calc(50vw - 500px); */
    z-index: 5;
    width: 69.51389vw;
    height: 29.2361vw;
    background-color: white;
    position: absolute;
}

.SayAboutUs_card_a,
.SayAboutUs_card_b,
.SayAboutUs_card_c,
.SayAboutUs_card_d {
    position: absolute;
    left: 30.625vw;
}

.SayAboutUs_card_img {
    position: absolute;
    height: 29.2361vw;
    width: 26.1878vw;
}

.SayAboutUs_card_a {
    top: 4.44vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.972vw;
    line-height: 150%;

    /* identical to box height, or 21px */
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.SayAboutUs_card_b {
    top: 8.125vw;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-size: 3.33vw;
    line-height: 100%;

    /* identical to box height, or 48px */
    letter-spacing: -0.015em;

    /* Text */
    color: #333333;
}

.SayAboutUs_card_c {
    top: 12.5694vw;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.11vw;
    line-height: 150%;

    /* or 24px */
    color: #333333;
    letter-spacing: 0.007vw;
    padding-right: 4.166vw;
}

.SayAboutUs_card_d {
    top: 23.125vw;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.11vw;
    line-height: 150%;

    /* identical to box height, or 24px */
    text-align: right;
    letter-spacing: 0.007vw;

    /* Active */
    color: #233A3F;
    right: 3.472vw;

}