.Away {
    /* padding-left: 10vw;
    width: 80vw;
    max-width: 1024px; */
    width: 90%;
    margin: 0 auto;
    padding-top: 13.88vw;
    /* padding-bottom: 10vw; */

}

.Away_head {

    width: 22.916vw;
    height: 2.22vw;

    /* Landing Subtitle */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.22vw;
    line-height: 100%;

    /* identical to box height, or 32px */
    letter-spacing: -0.015em;

    /* Text */
    margin-bottom: 1.736vw;
    color: #333333;
}

.Away_body {
    height: 3.33vw;
    width: 71.11vw;
    /* Landing Body */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.11vw;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.007vw;

    /* Text */
    color: #333333;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 50px;
}

/* .Away-vid-cont{
    width: 100vw;
} */

.Away_vid {
    width: 100%;
    height: 39.236vw;
    margin-bottom: 13.88vw;
    /* margin-left: -10vw; */
}
/* body{
    width: 100vw;
    overflow-x: hidden;
} */