.going {
    /* padding-left: 10vw; */
    /* width: 80vw; */
    /* max-width: 1024px; */
    width: 90%;
    margin: 0 auto;
    /* padding-top: 10vw; */
}

.going_head {
    width: 30.347vw;
    height: 2.22vw;

    /* Landing Subtitle */
    font-family: 'roboto flex';
    font-style: normal;
    font-weight: 700;
    font-size: 2.22vw;
    line-height: 100%;
    /* identical to box height, or 32px */
    letter-spacing: -0.015em;
    margin-bottom: 2.8vh;
}

.going_body {
    height: 3.33vw;
    width: 71.11vw;
    /* Landing Body */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.11vw;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.007vw;

    /* Text */
    color: #333333;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 3.472vw;
}

.going_card {

    width: 65.845vw;
    height: 39.187vw;

    background: #FFFFFF;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    /* left: calc(40vw - 475px); */
    /* Sub Text */
    border: 0.833vw solid #565656;
    border-radius: 2.3vw;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.gc_Alum {
    position: absolute;
    left: 7.92%;
    right: 50.9%;
    top: 12.37%;
    bottom: 39.25%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 5.853vw;
    line-height: 108.2%;

    /* or 91px */
    letter-spacing: -0.03em;

    /* gold */
    color: #F3B257;
}

.gc_rest {
    position: absolute;
    left: 7%;
    right: 50.9%;
    top: 27.37%;
    bottom: 39.25%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 5.853vw;
    line-height: 108.2%;

    /* or 91px */
    letter-spacing: -0.03em;

}

.gc_down {
    position: absolute;
    width: 100%;
    height: 12.346vw;
    left: 0px;
    top: 26.84vw;
    background-color: #333333;
    border-radius: 0px 0px 1.38vw 1.38vw;
    font-family: 'Open Sans';
}

.gcard {
    position: absolute;
    width: 24.39vw;
    height: 24.28vw;
    left: 35.986vw;
    top: 9.7854vw;
}

.gcard_sail {
    width: 10.416vw;
    height: 1.319vw;
    margin-top: 2.083vw;
    margin-left: 5.2083vw;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 1.0974vw;
    line-height: 1.32vw;

    /* identical to box height */
    letter-spacing: 0.03em;

    color: #FFE8B0;
}

.gcard_cc {
    width: 20.83vw;
    height: 1.32vw;
    margin-top: -1.32vw;
    margin-left: 18.82vw;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 600;
    font-size: 1.0974vw;
    line-height: 1.32vw;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFE8B0;
}

.gcard1 {
    position: absolute;
    bottom: 4.514vw;
    left: 19.16vw;
    width: 9.145833vw;
}

.gcard2 {
    position: absolute;
    bottom: 4.16vw;
    left: 5.416vw;
    width: 9.146vw;
}

.going_down {
    width: 17.361vw;
    height: 3.472vw;
    border-radius: 0.27vw;
    background-color: #027F9B;
    margin: 0 auto;
    /* margin-left: calc(40vw - 100px); */
    color: #FFFFFF;
    font-size: 1.11vw;
    font-weight: 600;
    line-height: 1.388vw;
    letter-spacing: 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.472vw;
    cursor: pointer;
}
.going_down:hover{
    background-color: #025466;
    transition: .2s ease-out;

}